SUPABASE_URL=https://lgkymrucwvqlsguicxvc.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxna3ltcnVjd3ZxbHNndWljeHZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgwNTMwMTYsImV4cCI6MjA5MzYyOTAxNn0.sFa1YW5NOo_lTjPnQWDKHe1QhX6f6_QEJ_r9Dhh0dwE
